<main class="main-container">
  <!-- Forms add and edit Producto -->
  <app-add-edit-producto [reciveValueAddEditForm]="openFormAddEditProducto" [reciveProducto]="producto" [reciveCategorias]="categorias" (formAddEditClosed)="openClosedFormAddEditProducto(0, 0)"></app-add-edit-producto>
  <!-- Forms add and edit Categoria -->
  <app-add-edit-categoria [reciveValueAddEditForm]="openFormAddEditCategoria" [reciveCategoria]="categoria" (formAddEditClosed)="openClosedFormAddEditCategoria(0, 0)"></app-add-edit-categoria>
  <!-- Forms delete element -->
   <app-delete-element></app-delete-element>

  <div class="cont-tabl">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 1vw">
      @if(receivedTableValue == 0){
      <button (click)="openClosedFormAddEditProducto(1, 0)" class="btn add-btn">Agregar Producto</button>
      }@else {
      <button (click)="openClosedFormAddEditCategoria(1, 0)" class="btn add-btn">Agregar Categoria</button>
      }
    </div>
    <div class="table-container">
      @if(receivedTableValue == 0){
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @if(productos.length != 0){ @for(producto of productos; track $index){
          <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio.toFixed(2) }}</td>
            <td>{{ producto.categoria.nombre }}</td>
            <td class="action-buttons">
              <div (click)="openClosedFormAddEditProducto(2, producto.id!)" class="edit-btn">Editar</div>
              <div (click)="openClosedFormDeleteProducto(true)" class="delete-btn">Eliminar</div>
            </td>
          </tr>
          } } @else {
          <tr>
            <td colSpan="6">No hay datos para mostrar.</td>
          </tr>
          }
        </tbody>
      </table>
      }@else {
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @if(categorias.length != 0){ @for(categoria of categorias; track $index){
          <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre }}</td>
            <td class="action-buttons">
              <div (click)="openClosedFormAddEditCategoria(2, categoria.id!)" class="edit-btn">Editar</div>
              <div (click)="openClosedFormDeleteCategoria(true)" class="delete-btn">Eliminar</div>
            </td>
          </tr>
          } } @else {
          <tr>
            <td colSpan="3">No hay categorias para mostrar.</td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</main>

