# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

#/////////////////////////////ELECTRONIC//////////////////////
# Compiled output
Electronic_Back-Front/Electronic-Front/dist
Electronic_Back-Front/Electronic-Front/tmp
Electronic_Back-Front/Electronic-Front/out-tsc
Electronic_Back-Front/Electronic-Front/bazel-out

# Node
Electronic_Back-Front/Electronic-Front/node_modules
Electronic_Back-Front/Electronic-Front/npm-debug.log
Electronic_Back-Front/Electronic-Front/yarn-error.log

# IDEs and editors
Electronic_Back-Front/Electronic-Front/.idea/
Electronic_Back-Front/Electronic-Front/.project
Electronic_Back-Front/Electronic-Front/.classpath
Electronic_Back-Front/Electronic-Front/.c9/
Electronic_Back-Front/Electronic-Front/*.launch
Electronic_Back-Front/Electronic-Front/.settings/
Electronic_Back-Front/Electronic-Front/*.sublime-workspace

# Visual Studio Code
Electronic_Back-Front/Electronic-Front/.vscode/*
Electronic_Back-Front/Electronic-Front/!.vscode/settings.json
Electronic_Back-Front/Electronic-Front/!.vscode/tasks.json
Electronic_Back-Front/Electronic-Front/!.vscode/launch.json
Electronic_Back-Front/Electronic-Front/!.vscode/extensions.json
Electronic_Back-Front/Electronic-Front/.history/*

# Miscellaneous
Electronic_Back-Front/Electronic-Front/.angular/cache
Electronic_Back-Front/Electronic-Front/.sass-cache/
Electronic_Back-Front/Electronic-Front/connect.lock
Electronic_Back-Front/Electronic-Front/coverage
Electronic_Back-Front/Electronic-Front/libpeerconnection.log
Electronic_Back-Front/Electronic-Fronttestem.log
Electronic_Back-Front/Electronic-Front/typings

# System files
Electronic_Back-Front/Electronic-Front/.DS_Store
Electronic_Back-Front/Electronic-Front/Thumbs.db

#////////////////////////////////////TECH NOVA///////////////////////////////

# Compiled output
TechNova-Back-Front/TechNova-Front/dist
TechNova-Back-Front/TechNova-Front/tmp
TechNova-Back-Front/TechNova-Front/out-tsc
TechNova-Back-Front/TechNova-Front/bazel-out

# Node
TechNova-Back-Front/TechNova-Front/node_modules
TechNova-Back-Front/TechNova-Front/npm-debug.log
TechNova-Back-Front/TechNova-Front/yarn-error.log

# IDEs and editors
TechNova-Back-Front/TechNova-Front/.idea/
TechNova-Back-Front/TechNova-Front/.project
TechNova-Back-Front/TechNova-Front/.classpath
TechNova-Back-Front/TechNova-Front/.c9/
TechNova-Back-Front/TechNova-Front/*.launch
TechNova-Back-Front/TechNova-Front/.settings/
TechNova-Back-Front/TechNova-Front/*.sublime-workspace

# Visual Studio Code
TechNova-Back-Front/TechNova-Front/.vscode/*
TechNova-Back-Front/TechNova-Front/!.vscode/settings.json
TechNova-Back-Front/TechNova-Front/!.vscode/tasks.json
TechNova-Back-Front/TechNova-Front/!.vscode/launch.json
TechNova-Back-Front/TechNova-Front/!.vscode/extensions.json
TechNova-Back-Front/TechNova-Front/.history/*

# Miscellaneous
TechNova-Back-Front/TechNova-Front/.angular/cache
TechNova-Back-Front/TechNova-Front/.sass-cache/
TechNova-Back-Front/TechNova-Front/connect.lock
TechNova-Back-Front/TechNova-Front/coverage
TechNova-Back-Front/TechNova-Front/libpeerconnection.log
TechNova-Back-Front/TechNova-Front/testem.log
TechNova-Back-Front/TechNova-Front/typings

# System files
TechNova-Back-Front/TechNova-Front/.DS_Store
TechNova-Back-Front/TechNova-Front/Thumbs.db

#////////////////////CONCIERTO

# Compiled output
Concierto/Concierto-Front/dist
Concierto/Concierto-Front/tmp
Concierto/Concierto-Front/out-tsc
Concierto/Concierto-Front/bazel-out

# Node
Concierto/Concierto-Front/node_modules
Concierto/Concierto-Front/npm-debug.log
Concierto/Concierto-Front/yarn-error.log

# IDEs and editors
Concierto/Concierto-Front/.idea/
Concierto/Concierto-Front/.project
Concierto/Concierto-Front/.classpath
Concierto/Concierto-Front/.c9/
Concierto/Concierto-Front/*.launch
Concierto/Concierto-Front/.settings/
Concierto/Concierto-Front/*.sublime-workspace

# Visual Studio Code
Concierto/Concierto-Front/.vscode/*
Concierto/Concierto-Front/!.vscode/settings.json
Concierto/Concierto-Front/!.vscode/tasks.json
Concierto/Concierto-Front/!.vscode/launch.json
Concierto/Concierto-Front/!.vscode/extensions.json
Concierto/Concierto-Front/.history/*

# Miscellaneous
Concierto/Concierto-Front/.angular/cache
Concierto/Concierto-Front/.sass-cache/
Concierto/Concierto-Front/connect.lock
Concierto/Concierto-Front/coverage
Concierto/Concierto-Front/libpeerconnection.log
Concierto/Concierto-Front/testem.log
Concierto/Concierto-Front/typings

# System files
Concierto/Concierto-Front/.DS_Store
Concierto/Concierto-Front/Thumbs.db


#/////////////////////////////////CRUD IMAGENES
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
CRUDImagenes/CRUDImagenes-Front/dist
CRUDImagenes/CRUDImagenes-Front/tmp
CRUDImagenes/CRUDImagenes-Front/out-tsc
CRUDImagenes/CRUDImagenes-Front/bazel-out

# Node
CRUDImagenes/CRUDImagenes-Front/node_modules
CRUDImagenes/CRUDImagenes-Front/npm-debug.log
CRUDImagenes/CRUDImagenes-Front/yarn-error.log

# IDEs and editors
CRUDImagenes/CRUDImagenes-Front/.idea/
CRUDImagenes/CRUDImagenes-Front/.project
CRUDImagenes/CRUDImagenes-Front/.classpath
CRUDImagenes/CRUDImagenes-Front/.c9/
CRUDImagenes/CRUDImagenes-Front/*.launch
CRUDImagenes/CRUDImagenes-Front/.settings/
CRUDImagenes/CRUDImagenes-Front/*.sublime-workspace

# Visual Studio Code
CRUDImagenes/CRUDImagenes-Front/.vscode/*
CRUDImagenes/CRUDImagenes-Front/!.vscode/settings.json
CRUDImagenes/CRUDImagenes-Front/!.vscode/tasks.json
CRUDImagenes/CRUDImagenes-Front/!.vscode/launch.json
CRUDImagenes/CRUDImagenes-Front/!.vscode/extensions.json
CRUDImagenes/CRUDImagenes-Front/.history/*

# Miscellaneous
CRUDImagenes/CRUDImagenes-Front/.angular/cache
CRUDImagenes/CRUDImagenes-Front/.sass-cache/
CRUDImagenes/CRUDImagenes-Front/connect.lock
CRUDImagenes/CRUDImagenes-Front/coverage
CRUDImagenes/CRUDImagenes-Front/libpeerconnection.log
CRUDImagenes/CRUDImagenes-Front/testem.log
CRUDImagenes/CRUDImagenes-Front/typings

# System files
CRUDImagenes/CRUDImagenes-Front/.DS_Store
CRUDImagenes/CRUDImagenes-Front/Thumbs.db
#///////////////////////////////// Authenticacion //////////////////////
# Compiled output
Authenticacion/AuthApp-Front/dist
Authenticacion/AuthApp-Front/dist
Authenticacion/AuthApp-Front/tmp
Authenticacion/AuthApp-Front/out-tsc
Authenticacion/AuthApp-Front/bazel-out

# Node
Authenticacion/AuthApp-Front/node_modules
Authenticacion/AuthApp-Front/npm-debug.log
Authenticacion/AuthApp-Front/yarn-error.log

# IDEs and editors
Authenticacion/AuthApp-Front/.idea/
Authenticacion/AuthApp-Front/.project
Authenticacion/AuthApp-Front/.classpath
Authenticacion/AuthApp-Front/.c9/
Authenticacion/AuthApp-Front/*.launch
Authenticacion/AuthApp-Front/.settings/
Authenticacion/AuthApp-Front/*.sublime-workspace

# Visual Studio Code
Authenticacion/AuthApp-Front/.vscode/*
Authenticacion/AuthApp-Front/!.vscode/settings.json
Authenticacion/AuthApp-Front/!.vscode/tasks.json
Authenticacion/AuthApp-Front/!.vscode/launch.json
Authenticacion/AuthApp-Front/!.vscode/extensions.json
Authenticacion/AuthApp-Front/.history/*

# Miscellaneous
Authenticacion/AuthApp-Front/.angular/cache
Authenticacion/AuthApp-Front/.sass-cache/
Authenticacion/AuthApp-Front/connect.lock
Authenticacion/AuthApp-Front/coverage
Authenticacion/AuthApp-Front/libpeerconnection.log
Authenticacion/AuthApp-Front/testem.log
Authenticacion/AuthApp-Front/typings

# System files
Authenticacion/AuthApp-Front/.DS_Store
Authenticacion/AuthApp-Front/Thumbs.db

#///////////////////////////////// BoletoQR //////////////////////
# Compiled output
BoletoQR/BoletoQR-Front/dist
BoletoQR/BoletoQR-Front/dist
BoletoQR/BoletoQR-Front/tmp
BoletoQR/BoletoQR-Front/out-tsc
BoletoQR/BoletoQR-Front/bazel-out

# Node
BoletoQR/BoletoQR-Front/node_modules
BoletoQR/BoletoQR-Front/npm-debug.log
BoletoQR/BoletoQR-Front/yarn-error.log

# IDEs and editors
BoletoQR/BoletoQR-Front/.idea/
BoletoQR/BoletoQR-Front/.project
BoletoQR/BoletoQR-Front/.classpath
BoletoQR/BoletoQR-Front/.c9/
BoletoQR/BoletoQR-Front/*.launch
BoletoQR/BoletoQR-Front/.settings/
BoletoQR/BoletoQR-Front/*.sublime-workspace

# Visual Studio Code
BoletoQR/BoletoQR-Front/.vscode/*
BoletoQR/BoletoQR-Front/!.vscode/settings.json
BoletoQR/BoletoQR-Front/!.vscode/tasks.json
BoletoQR/BoletoQR-Front/!.vscode/launch.json
BoletoQR/BoletoQR-Front/!.vscode/extensions.json
BoletoQR/BoletoQR-Front/.history/*

# Miscellaneous
BoletoQR/BoletoQR-Front/.angular/cache
BoletoQR/BoletoQR-Front/.sass-cache/
BoletoQR/BoletoQR-Front/connect.lock
BoletoQR/BoletoQR-Front/coverage
BoletoQR/BoletoQR-Front/libpeerconnection.log
BoletoQR/BoletoQR-Front/testem.log
BoletoQR/BoletoQR-Front/typings

# System files
BoletoQR/BoletoQR-Front/.DS_Store
BoletoQR/BoletoQR-Front/Thumbs.db
/BoletoQR/BoletoQR-Back/.vs
