# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
Electronic_Back-Front/Electronic-Front/dist
Electronic_Back-Front/Electronic-Front/tmp
Electronic_Back-Front/Electronic-Front/out-tsc
Electronic_Back-Front/Electronic-Front/bazel-out

# Node
Electronic_Back-Front/Electronic-Front/node_modules
Electronic_Back-Front/Electronic-Front/npm-debug.log
Electronic_Back-Front/Electronic-Front/yarn-error.log

# IDEs and editors
Electronic_Back-Front/Electronic-Front/.idea/
Electronic_Back-Front/Electronic-Front/.project
Electronic_Back-Front/Electronic-Front/.classpath
Electronic_Back-Front/Electronic-Front/.c9/
Electronic_Back-Front/Electronic-Front/*.launch
Electronic_Back-Front/Electronic-Front/.settings/
Electronic_Back-Front/Electronic-Front/*.sublime-workspace

# Visual Studio Code
Electronic_Back-Front/Electronic-Front/.vscode/*
Electronic_Back-Front/Electronic-Front/!.vscode/settings.json
Electronic_Back-Front/Electronic-Front/!.vscode/tasks.json
Electronic_Back-Front/Electronic-Front/!.vscode/launch.json
Electronic_Back-Front/Electronic-Front/!.vscode/extensions.json
Electronic_Back-Front/Electronic-Front/.history/*

# Miscellaneous
Electronic_Back-Front/Electronic-Front/.angular/cache
Electronic_Back-Front/Electronic-Front/.sass-cache/
Electronic_Back-Front/Electronic-Front/connect.lock
Electronic_Back-Front/Electronic-Front/coverage
Electronic_Back-Front/Electronic-Front/libpeerconnection.log
Electronic_Back-Front/Electronic-Fronttestem.log
Electronic_Back-Front/Electronic-Front/typings

# System files
Electronic_Back-Front/Electronic-Front/.DS_Store
Electronic_Back-Front/Electronic-Front/Thumbs.db
