<header>
  <div class="cont">
    <h1 class="title">Eventos Admin</h1>
  </div>
  <div class="cont">
    <div class="cont-nav select-nav">
      <p class="nav">Eventos</p>
    </div>
    <div class="cont-nav">
      <p class="nav">Lugares</p>
    </div>
    <div class="cont-nav">
      <p class="nav">Cantantes</p>
    </div>
  </div>
</header>
<main>
  <div class="cont-padre">
    <div class="cont-title-btn">
        <h2>Eventos</h2>
        <button class="btn-agregar">Agregar Evento</button>
    </div>
    <div class="cont-events">
        <div class="event">
            <p class="info-event titulo">Titulo</p>
            <p class="info-event fecha">Fecha</p>
            <p class="info-event hora">Inicio-Fin</p>
            <p class="info-event lugar">Lugar</p>
            <p class="info-event lugar">Capacidad</p>
            <button class="btn-ver">Observar</button>
        </div>
    </div>
  </div>
</main>
