@if(reciveValueAddEditForm != 0){
<div class="modal">
  <div class="modal-content">
    <div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input autocomplete="off" type="text" id="nombre" name="nombre" required />
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
      </div>
      <div class="form-group">
        <label for="precio">Precio</label>
        <input
          autocomplete="off"
          min="0"
          type="number"
          id="precio"
          name="precio"
          step="0.01"
          required
        />
      </div>
      <div class="form-group">
        <label for="categoria">Categoría</label>
        <select id="categoria" name="categoria_Id" required>
          @if(reciveCategorias.length != 0){ 
            @for(categoria of reciveCategorias; track $index){ 
              <option value={{categoria.id}}>{{categoria.nombre}}</option>
            }}
        </select>
      </div>
      <div class="form-actions">
        <div class="btn save-btn">Guardar</div>
        <div (click)="onCancelClick()" class="btn cancel-btn">Cancelar</div>
      </div>
    </div>
  </div>
</div>
}
