@use '../variables.scss' as var;
@use '../mixins.scss' as mix;

.modal {
  display: flex;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
//   display: flex;
  backdrop-filter: blur(0.05vw);
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: var.$card-color;
    padding: 2vw;
    border-radius: 1.2vw;
    position: relative;
    width: 30vw;
    height: 18vh;
    box-shadow: 0 0 2.5vw var.$accent-color;
  }

  .form-group {
    margin-bottom: 1vw;
  }

  .form-group label {
    display: block;
    margin-bottom: 0.5vw;
    color: var.$text-color;
  }

  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 0.8vw;
    border-radius: 0.6vw;
    border: 0.1vw solid var.$border-color;
    background-color: var.$btn-color;
    color: var.$text-color;
    font-size: 1vw;
    box-sizing: border-box;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
    margin-top: 1.5vw;
  }

  .btn {
    @include mix.btn-add-delet-edit;
  }

  .save-btn {
    @include mix.accion-btn(var.$acept-btn);
  }

  .cancel-btn {
    @include mix.accion-btn(var.$cancel-btn);
  }
}
