@mixin ocultar {
  display: none;
}

@mixin btn {
  padding: 0.8vw 1.5vh;
  border-radius: 0.8vw;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  border: 0.1vw solid var.$accent-color;
  background-color: var.$accent-color;
  color: var.$card-color;
  box-shadow: 0 0 1vw var.$accent-color;

  &:hover {
    transform: translateY(-0.3vw);
    box-shadow: 0 0 2vw var.$accent-color;
  }
}

@mixin btn-add-delet-edit {
  width: 5vw;
  height: 5vh;
  margin: 1vw 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  font-size: 1vw;
}

@mixin accion-btn($color) {
  color: white;
  border-color: $color;
  box-shadow: 0 0 0.7vw $color;

  &:hover {
    transform: translateY(-0.2vw) scale(1.03);
    box-shadow: 0 0.2vw 3vw $color;
  }
}
