//src/style/variables
$bg-color: #121212;
$card-color: #1e1e1e;
$text-color: #e0e0e0;
$accent-color: #00ffff;
$btn-color: #2c2c2c;
$border-color: #444;
$hover-color: #00a3a3;
$acept-btn: #28a745;
$cancel-btn: #dc3545;
$edit-btn: #3f51b5;
